<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- URL Rewriting -->
        <rewrite>
            <rules>
                <!-- Rewrite /well/wellid to /well.php?id=wellid -->
                <!-- Example: /well/hp becomes /well.php?id=hp -->
                <rule name="Well Pages Clean URLs" stopProcessing="true">
                    <match url="^well/([a-zA-Z0-9_-]+)/?$" />
                    <action type="Rewrite" url="well.php?id={R:1}" appendQueryString="true" />
                </rule>
                
                <!-- Optional: Redirect old directory structure to new URLs -->
                <!-- Uncomment the rules below if you want to redirect old /hp/ URLs to /well/hp
                <rule name="Redirect Old HP Directory" stopProcessing="true">
                    <match url="^hp/?$" />
                    <action type="Redirect" url="well/hp" redirectType="Permanent" />
                </rule>
                <rule name="Redirect Old Hickman1 Directory" stopProcessing="true">
                    <match url="^hickman1/?$" />
                    <action type="Redirect" url="well/hickman1" redirectType="Permanent" />
                </rule>
                 -->
                <!-- Add more redirects for other wells as needed -->
            </rules>
        </rewrite>
        
        <!-- Prevent directory browsing -->
        <directoryBrowse enabled="false" />
        
        <!-- Default document settings -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        
        <!-- Security: Hide sensitive files -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="credentials.php" />
                    <add segment="wells_config.php" />
                </hiddenSegments>
                <fileExtensions>
                    <add fileExtension=".git" allowed="false" />
                    <add fileExtension=".env" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
        
        <!-- Custom error pages (optional) -->
        <!--
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/404.html" responseMode="File" />
        </httpErrors>
        -->
    </system.webServer>
</configuration>