<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Enable compression -->
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        
        <!-- Static content caching -->
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
        </staticContent>
        
        <!-- HTTP compression -->
        <httpCompression>
            <dynamicTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </staticTypes>
        </httpCompression>
        
        <!-- Output caching for API responses -->
        <caching>
            <profiles>
                <add extension=".php" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>

        <!-- URL Rewriting -->
        <rewrite>
            <rules>
                <!-- SPECIAL CASE: Redirect /hp (with or without trailing slash) to kgon1 -->
                <rule name="HP to KGON1" stopProcessing="true">
                    <match url="^hp$" />
                    <action type="Redirect" url="well.php?id=kgon1" redirectType="Permanent" />
                </rule>
                                
                <!-- NEW: Support /?id=wellid at root -->
                <!-- Example: /?id=kgon1 rewrites to well.php?id=kgon1 -->
                <rule name="Root Query String to Well" stopProcessing="true">
                    <match url="^$" />
                    <conditions>
                        <add input="{QUERY_STRING}" pattern="^id=([a-zA-Z0-9_-]+)$" />
                    </conditions>
                    <action type="Rewrite" url="well.php?id={C:1}" appendQueryString="false" />
                </rule>

                <!-- Redirect /wellid/ to /well/wellid -->
                <!-- Example: /kgon1/ redirects to /well/kgon1 -->
                <rule name="Redirect Well ID to Clean URL" stopProcessing="true">
                    <match url="^(kgon1|kgon2|kgon3|hickman1)/?$" />
                    <action type="Redirect" url="well.php?id={R:1}" redirectType="Permanent" />
                </rule>
                
                <!-- Rewrite /well/wellid to /well.php?id=wellid -->
                <!-- Example: /well/hp becomes /well.php?id=hp -->
                <rule name="Well Pages Clean URLs" stopProcessing="true">
                    <match url="^well/([a-zA-Z0-9_-]+)/?$" />
                    <action type="Rewrite" url="well.php?id={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- Rest of your config stays the same -->
        <directoryBrowse enabled="false" />
        
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="credentials.php" />
                    <add segment="wells_config.php" />
                </hiddenSegments>
                <fileExtensions>
                    <add fileExtension=".git" allowed="false" />
                    <add fileExtension=".env" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>